@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
:root {
  --color-blue-1: #1e90ff;
  --color-light-1: #ffffff;
  --color-light-2: #f5f8fa;
  --color-light-3: rgba(65, 65, 65, 0.404);
  --color-dark-1: #000000dc;
  --color-dark-2: #0E0D35;
  --color-dark-3: #00000039;
  --color-dark-4: #29272b;
  --color-dark-5: #222529;
  --color-dark-6: #383b3e;
  --color-dark-7: #dadada91;
  --color-red-1: #D63236;
  --box-shadow-1: rgba(0, 0, 0, 0.075) 0px 1px 3px,
    rgba(0, 0, 0, 0.137) 0px 1px 2px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  direction: rtl;
  font-size: 62.5%;
  background-color: var(--color-light-1);
}

body {
  font-family: 'Tajawal', sans-serif;
  overflow-y: scroll;
}

a {
  color: inherit;
  text-decoration: none;
}

label {
  font-weight: 500;
}

.mainContainer {
  width: 98%;
  max-width: 130rem;
  margin: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-red-1);
  border-radius: 10px;
}

/* ----------------------- */



@media (max-width: 65rem) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 1rem;
    min-height: 90vh;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

}